<div class="form-group">
  <h3>Icon</h3>
  <hr>
  <div class="my-5">
    <ul class="row row-cols-3 row-cols-sm-4 row-cols-lg-6 row-cols-xl-8 list-unstyled list">
      <li class="col mb-4" *ngFor="let icon of icons">
        <a class="d-block text-dark text-decoration-none" href="/icons/{{icon}}/">
          <div class="p-3 py-4 mb-2 bg-light text-center rounded">
            <i-bs [name]="icon"></i-bs>
          </div>
          <div class="name text-muted text-decoration-none text-center pt-1">{{icon}}</div>
        </a>
      </li>
    </ul>
  </div>
</div>
