<div class="form-group">
  <h3>Accordion</h3>
  <hr>
  <div class="card">
    <div class="card-header">
      <h3>Basic</h3>
    </div>
    <div class="card-body">
      <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
        <ngb-panel title="Simple">
          <ng-template ngbPanelContent>
            {{conteudo}}
          </ng-template>
        </ngb-panel>
        <ngb-panel>
          <ng-template ngbPanelTitle>
            <span>&#9733; <b>Fancy</b> title &#9733;</span>
          </ng-template>
          <ng-template ngbPanelContent>
            {{conteudo}}
          </ng-template>
        </ngb-panel>
        <ngb-panel title="Disabled" [disabled]="true">
          <ng-template ngbPanelContent>
            {{conteudo}}
          </ng-template>
        </ngb-panel>
      </ngb-accordion>
    </div>
  </div>
  <hr>
  <div class="card">
    <div class="card-header">
      <h3>One open panel at a time</h3>
    </div>
    <div class="card-body">
      <ngb-accordion [closeOthers]="true" activeIds="static-1">
        <ngb-panel id="static-1" title="Simple">
          <ng-template ngbPanelContent>
            {{conteudo}}
          </ng-template>
        </ngb-panel>
        <ngb-panel id="static-2">
          <ng-template ngbPanelTitle>
            <span>&#9733; <b>Fancy</b> title &#9733;</span>
          </ng-template>
          <ng-template ngbPanelContent>
            {{conteudo}}
          </ng-template>
        </ngb-panel>
        <ngb-panel id="static-3" title="Disabled" [disabled]="true">
          <ng-template ngbPanelContent>
            {{conteudo}}
          </ng-template>
        </ngb-panel>
      </ngb-accordion>
    </div>
  </div>
  <hr>
  <div class="card">
    <div class="card-header">
      <h3>Toggle panels</h3>
    </div>
    <div class="card-body">
      <ngb-accordion #acc="ngbAccordion">
        <ngb-panel id="toggle-1" title="First panel">
          <ng-template ngbPanelContent>
            {{conteudo}}
          </ng-template>
        </ngb-panel>
        <ngb-panel id="toggle-2" title="Second">
          <ng-template ngbPanelContent>
            {{conteudo}}
          </ng-template>
        </ngb-panel>
      </ngb-accordion>
      <hr />
      <button class="btn btn-sm btn-outline-primary mr-2" (click)="acc.toggle('toggle-1')">Toggle first</button>
      <button class="btn btn-sm btn-outline-primary mr-2" (click)="acc.toggle('toggle-2')">Toggle second</button>
    </div>
  </div>
  <hr />
  <div class="card">
    <div class="card-header">
      <h3>Custom header</h3>
    </div>
    <div class="card-body">
      <ngb-accordion #a="ngbAccordion" activeIds="custom-panel-1">
        <ngb-panel id="custom-panel-1">
          <ng-template ngbPanelHeader let-opened="opened">
            <div class="d-flex align-items-center justify-content-between">
              <h5 class="m-0">First panel - {{ opened ? 'opened' : 'collapsed' }}</h5>
              <button ngbPanelToggle class="btn btn-link p-0">Toggle first</button>
            </div>
          </ng-template>
          <ng-template ngbPanelContent>
            {{conteudo}}
          </ng-template>
        </ngb-panel>
        <ngb-panel>
          <ng-template ngbPanelHeader>
            <div class="d-flex align-items-center justify-content-between">
              <h5 class="m-0">Second panel</h5>
              <div>
                <button ngbPanelToggle class="btn btn-sm btn-outline-primary ml-2">Toggle second</button>
                <button type="button" class="btn btn-sm btn-outline-secondary ml-2" (click)="disabled = !disabled">
                  {{ disabled ? 'En' : 'Dis' }}able third
                </button>
                <button type="button" class="btn btn-sm btn-outline-danger ml-2" (click)="a.collapseAll()">Collapse
                  all</button>
              </div>
            </div>
          </ng-template>
          <ng-template ngbPanelContent>
            {{conteudo}}
          </ng-template>
        </ngb-panel>
        <ngb-panel [disabled]="disabled" [cardClass]="disabled ? 'disabled' : ''">
          <ng-template ngbPanelHeader>
            <div class="d-flex align-items-center justify-content-between">
              <button ngbPanelToggle class="btn btn-link container-fluid text-left pl-0">Third panel</button>
              <p *ngIf="disabled" class="text-muted m-0 small">[I'm&nbsp;disabled]</p>
            </div>
          </ng-template>
          <ng-template ngbPanelContent>
            {{conteudo}}
          </ng-template>
        </ngb-panel>
      </ngb-accordion>
    </div>
  </div>
</div>
