<div class="form-group">
  <h3>Card</h3>

  <div class="btn-group-toggle">
    <label class="btn btn-light" [ngClass]="{'active': efeito }" ngbTooltip="Efeito wdison:ctrl-c">
      <input type="checkbox" [(ngModel)]="efeito"> Efeito
    </label>
  </div>

  <hr>
  <div class="row justify-content-center">
    <div class="col-md-8 col-sm-12 col-lg-6">
      <form ngForm="card">
        <div class="card">
          <div class="card-header">
            <div class="form-group" *ngIf="crud">
              <input class="form-control card-title" ngbTooltip="Titulo" [(ngModel)]="card.title" name="title" placeholder="Titulo">
            </div>
            <h5 class="card-title" *ngIf="!crud" ngbTooltip="Titulo">{{card.title}}</h5>
            <div class="form-group" *ngIf="crud">
              <input class="form-control card-subtitle" ngbTooltip="Sub Titulo" [(ngModel)]="card.subtitle" name="subtitle" placeholder="Sub Titulo">
            </div>
            <h6 class="card-subtitle mb-2 text-muted" *ngIf="!crud">{{card.subtitle}}</h6>
          </div>
          <div class="card-footer">
            <div class="row">
              <button href="" class="card-link btn btn-primary" (click)="previous()"><i-bs name="skip-start"></i-bs>Anterior</button>
              <button href="" class="card-link btn btn-primary" (click)="next()">Próximo<i-bs name="skip-end"></i-bs></button>
            </div>
          </div>
          <div class="card-footer">
            <div class="row">
              <button href="" class="card-link btn btn-primary" (click)="incluir()" *ngIf="crud"><i-bs name="box-arrow-in-right"></i-bs>&nbsp;&nbsp;Incluir</button>
              <button href="" class="card-link btn btn-primary" (click)="atualizar()" *ngIf="crud"><i-bs name="box-arrow-in-right"></i-bs>&nbsp;&nbsp;Atualizar</button>
              <button href="" class="card-link btn btn-primary" (click)="salvar()" *ngIf="crud"><i-bs name="save"></i-bs>&nbsp;&nbsp;Salvar</button>
            </div>
          </div>
          <div class="card-body" [ngClass]="{'text-light bg-info border border-success': efeito}">
            <p class="card-text" *ngIf="crud">ID {{card.id}}</p>
            <div class="form-group" *ngIf="crud">
              <input class="form-control card-text" ngbTooltip="Mensagem" [(ngModel)]="card.message" name="message" placeholder="Mensagem">
            </div>
            <p class="card-text" *ngIf="!crud">{{card.id}} -> {{card.message}}</p>
            <div class="form-group" *ngIf="crud">
              <input class="form-control card-text" ngbTooltip="Observação" [(ngModel)]="card.obs" name="obs" placeholder="Observação">
            </div>
            <p class="card-text" *ngIf="!crud">{{card.obs}}</p>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
